[Unit]
Description=Serviço Whatsapp: /etc/systemd/system/whatsapp-node.service
Requires=network-online.target
After=network-online.target
[Service]
User=myuser
WorkingDirectory=/home/Arquivos/Projetos/whatsapp
ExecStart=/bin/nodemon server.js
#ExecStart=/bin/bash ./shell/init.sh
ExecStartPost=/bin/sleep 60
StandardOutput=syslog 
StandardError=syslog 
SyslogIdentifier= servico-node
[Install]
WantedBy=multi-user.target
